USE [master]
GO
/****** Object:  Database [Arch]    Script Date: 06.05.2023 3:54:36 ******/
CREATE DATABASE [Arch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Arch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\Arch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Arch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS02\MSSQL\DATA\Arch_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Arch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Arch]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 06.05.2023 3:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Number] [int] NOT NULL,
	[Index_doc] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Pages] [int] NOT NULL,
	[Date_start] [date] NOT NULL,
	[Date_end] [date] NOT NULL,
 CONSTRAINT [PK_Document] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentComputer]    Script Date: 06.05.2023 3:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentComputer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Number] [int] NOT NULL,
	[Index_doc] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Pages] [int] NOT NULL,
	[Date_start] [date] NOT NULL,
	[Date_end] [date] NOT NULL,
 CONSTRAINT [PK_DocumentComputer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.05.2023 3:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.05.2023 3:54:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Patronymic] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Document] ON 

INSERT [dbo].[Document] ([id], [Type], [Number], [Index_doc], [Date], [Pages], [Date_start], [Date_end]) VALUES (1, N'Газета', 1, 983212, CAST(N'2012-12-24' AS Date), 4, CAST(N'2012-12-27' AS Date), CAST(N'2024-12-24' AS Date))
INSERT [dbo].[Document] ([id], [Type], [Number], [Index_doc], [Date], [Pages], [Date_start], [Date_end]) VALUES (6, N'Записи', 2, 12354, CAST(N'2012-12-24' AS Date), 3213, CAST(N'2012-12-27' AS Date), CAST(N'2024-12-24' AS Date))
SET IDENTITY_INSERT [dbo].[Document] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentComputer] ON 

INSERT [dbo].[DocumentComputer] ([id], [Type], [Number], [Index_doc], [Date], [Pages], [Date_start], [Date_end]) VALUES (1, N'Дело', 2345, 12344, CAST(N'2019-02-20' AS Date), 53, CAST(N'2019-02-20' AS Date), CAST(N'2030-02-20' AS Date))
INSERT [dbo].[DocumentComputer] ([id], [Type], [Number], [Index_doc], [Date], [Pages], [Date_start], [Date_end]) VALUES (2, N'Дело', 631523, 12364, CAST(N'2019-02-20' AS Date), 123, CAST(N'2019-02-20' AS Date), CAST(N'2040-02-20' AS Date))
SET IDENTITY_INSERT [dbo].[DocumentComputer] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([id], [RoleName]) VALUES (1, N'Архивист')
INSERT [dbo].[Role] ([id], [RoleName]) VALUES (2, N'Специалист')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [Name], [Surname], [Patronymic], [Login], [Password], [RoleID]) VALUES (1, N'Максим', N'Владыкин', N'Алексеевич', N'123', N'123', 1)
INSERT [dbo].[User] ([id], [Name], [Surname], [Patronymic], [Login], [Password], [RoleID]) VALUES (3, N'Анна', N'Черчел', N'Андреевна', N'1234', N'1234', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
